@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/-_ctzj9b56b8rgxw8faris3usbnsvpkopqaur-2r7iu_8.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../fonts/ccki4k9un7tzvwzrvt-t8y3usbnsvpkopqaur-2r7iu_8.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(../fonts/1imrnpx4870-d9a1ebudpc3usbnsvpkopqaur-2r7iu_11.ttf) format('truetype');
}
