@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Martel Sans Light'), local('MartelSans-Light'), url(../fonts/7ajme85akkx_scwf59imqlfb31yxozp-czbf6aakcvo.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Martel Sans'), local('MartelSans-Regular'), url(../fonts/0jyi5ezcfimaqg7kk9hbq50eavxt0g0bientp43qt6e.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Martel Sans Bold'), local('MartelSans-Bold'), url(../fonts/7ajme85akkx_scwf59imqj_tkvowliotbr7epgfopf4.ttf) format('truetype');
}
