@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(../fonts/uc3zejagji85gf9qfabgia0dqt4xptxu2mzr8nijhm4.ttf) format('truetype');
}
