/************************************************************************************
List Layout
*************************************************************************************/
.module-timeline.layout-list p {
	margin: 0 0 15px;
}
.module-timeline.layout-list > ul{
	position: relative;
	list-style: none;
	margin: 0;
}
.module-timeline.layout-list > ul:before {
	content: " ";
	position: absolute;
	left: 25%;
	height: 100%;
	border-right: 3px solid #ccc;
	border-right-color: rgba(0,0,0,.2);
	margin-top: -10px;
}
.module-timeline.layout-list > ul > li {
	list-style: none !important;
	margin: 0 0 3em;
	padding: 0;
	overflow: hidden;
}
.module-timeline.layout-list .module-timeline-image img,
.module-timeline.layout-list .module-timeline-content img{
	margin-bottom: 1.3em;
}
.module-timeline.layout-list .module-timeline-date {
	font-size: 1.4em;
	line-height: 1.3em;
	color: inherit;
	text-align: right;
	padding-right: 5%;
	padding-top: 5px;
	float: left;
	width: 19%;
}
.module-timeline.layout-list .module-timeline-dot {
	position: absolute;
	left: 25%;
	color: #fff;
	background: #000;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin-top: 15px;
	margin-left: -4px;
}
.module-timeline.layout-list .module-timeline-icon {
	position: absolute;
	left: 25%;
	color: #fff;
	background: #000;
	width: 50px;
	height: 50px;
	margin-left: -24px;
	margin-top: -5px;
	border-radius: 100%;
}
.module-timeline.layout-list .module-timeline-icon i {
	position: absolute;
	margin: 0;
	line-height: 1em;
	top: 50%;
	left: 50%;
	font-size: 26px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.module-timeline.layout-list .module-timeline-title {
	margin: 0 0 .6em;
	font-size: 2em;
	line-height: 1.5em;
	font-weight: normal;
	font-family: inherit;
}
.module-timeline.layout-list li.timeline-post.with-icon .module-timeline-content {
	padding-left: 10px;
}
.module-timeline.layout-list .module-timeline-content-wrap {
	width: 70%;
	float: right;
}
@media (max-width: 880px) {
	.module-timeline.layout-list .module-timeline-title {
		font-size: 1.6em;
	}
	.module-timeline.layout-list .module-timeline-date {
		font-size: 1.1em;
	}
	.module-timeline.layout-list .module-timeline-icon {
		width: 30px;
		height: 30px;
		margin-left: -14px;
		margin-top: 0;
	}
	.module-timeline.layout-list .module-timeline-icon i {
		font-size: 16px;
	}
}